<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/css/launchwirecss.css" type="text/css"> </head>

<body>
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3">Launch Pad</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-muted" contenteditable="true">The Mission Control For Your Business</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card m-5 p-2">
            <div class="card-block py-4">
              <h4 class="card-title">Create Indent</h4>
              <h6 class="card-subtitle text-muted">Create a New Indent</h6>
            </div>
            <a href="#" class="btn btn-outline-primary mx-auto w-25">Create</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-5 p-2">
            <div class="card-block py-4">
              <h4 class="card-title">Update Company Info</h4>
              <h6 class="card-subtitle text-muted">Update Your Company Info</h6>
            </div>
            <a href="#" class="btn btn-outline-primary mx-auto w-25">Update</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card m-5 p-2">
            <div class="card-block py-4">
              <h4 class="card-title">View Past Indents</h4>
              <h6 class="card-subtitle text-muted">View, Print, Edit Your Saved Indents</h6>
            </div>
            <a href="#" class="btn btn-outline-primary mx-auto w-25">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>

</html>